
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap");
:root {
        --fundo: linear-gradient(232.73deg, #e6e3e3 8.79%, #bebebe 84.88%);
        --texto: rgb(0, 0, 0);
        --botao: linear-gradient(
          260.02deg,
          #a6c3e4 -4.36%,
          #3f87dd -4.35%,
          #7db1ef 45.09%,
          #86bcfc 59.75%
        );
        --botaoTxt: rgb(3, 3, 3);
        --input-fundo: rgb(197, 197, 197);
        --peso: 500;
      }


.dark:root{
    --fundo: linear-gradient(241.29deg, #4d4a50 10.31%, #1a1919 93.41%);
    --texto: white;
    --botao: linear-gradient(
      257.91deg,
      #c366ff 17.54%,
      #d37fc8 54.55%,
      #e95582 72.93%
    );
    --botaoTxt: white;
    --input-fundo: rgb(154, 152, 152);
    --peso: 300;
  }

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    height: 100%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
}

body{
    background: var(--fundo);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    color: var(--texto);
}


textarea{
    display: flex;
    justify-content:center;
    bottom: 500px;
}

textarea{
    border-radius: 10px;
    border-style: none;
    height: 350px;
    width: 350px;
    resize: none;
}

h1{
    border-radius: 5px;
    border: solid  rgb(217, 217, 217);
    background-color: rgb(217, 217, 217);
    width: 350px;
    margin-top: 50px;
    margin-bottom: 10px;
}

#caixa-html{
    text-align: center;
}

#caixa-js{
    text-align: center;
}

#btn{
    margin-top: 550px;
    border-radius: 30px;
    width: 100px;
    height: 50px;
    background: var(--botao);
    user-select: none;
    cursor: pointer;

}
body.dark{
    background: #292c35;
}
.checkbox{
    opacity: 0;
    position: absolute;
}
.label{
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .ball{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}


.checkbox:checked + .label .ball{
    transform: translate(24px);
}

.fa-moon{
    color: #f1c40f;
}

.fa-sun{
    color: #f39c12;
}

#btn:hover {
    transform: scale(110%);
  }

.modo{
    padding-left: 30px;
    padding-top: 20px;
}



