/*Adição da fonte Montserrat ao programa */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap");

/* Zerando o padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: var(--peso);
}
:root {
  --peso: 300;
  --fundo: linear-gradient(241.29deg, #212121 10.31%, #111010 93.41%);
  --texto: rgb(254, 254, 254);
  --botao: linear-gradient(
    257.91deg,
    #c366ff 17.54%,
    #d37fc8 54.55%,
    #e95582 72.93%
  );
  --botaoTxt: rgb(255, 255, 255);
}

.white-mode:root {
  --peso: 500;
  --fundo: linear-gradient(232.73deg, #fbfbfb 8.79%, #bebebe 84.88%);
  --texto: #000000;
  --botao: linear-gradient(
    260.02deg,
    #a6c3e4 -4.36%,
    #3f87dd -4.35%,
    #7db1ef 45.09%,
    #86bcfc 59.75%
  );
  --botaoTxt: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--fundo);
  color: var(--texto);
}
main {
  padding: 50px;
  width: 800px;
  height: 500px;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.Input{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  background: #d9d9d9;
  border-radius: 12px;
  width: 100px;
  height: 40px;
  border-style: none;
}
#result {
  padding: 10px;
  background-color: #d9d9d9;
  color: black;
  border-radius: 12px;
  width: 100px;
  height: 40px;
  border-style: none;
  color: #111010;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Output{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#btnCalcular{
  background: var(--botao);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  margin-top: 20%;
  transition: 0.2s;
  color: white;
  font-weight: bold;

}
#btnCalcular:hover{
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.5);
  font-size: medium;
  font-weight: bold;
  width: 103px;
}

